.indicator-green {
  margin: 0 0 -28px 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(120deg, #33cc33, #84e184);
}
.indicator-red {
  margin: 0 0 -28px 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(120deg, #ff0000, #ff0000);
}

.marginTopButton {
  margin: 22px 0 -10px -10px;
}
.marginSpinner {
  margin: 32px 170px 0px -10px;
}

.collapse {
  margin: 0 0 0 0;
}

.add-space {
  vertical-align: top;
  height: 60px;
}

.centering {
  text-align: center;
}

.color-port-hostname {
  -webkit-text-fill-color: grey;
}

a {
  color: blue;
  cursor: pointer;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
