li.menu-nav-link {
  box-sizing: border-box;
}
li.menu-nav-link a {
  display: block;
  color: #000000f2;
  text-decoration: none;
  padding: 15px 20px;
}

li.menu-nav-link a:hover .menu-nav-link-icon {
  color: #1362ae;
}
li.menu-nav-link .menu-nav-link-icon {
  float: left;
  margin-right: 10px;
}

li a.menu-nav-link-active {
  background: #f9ede2;
}

li a.menu-nav-link-active .menu-nav-link-icon {
  color: #1362ae;
}
