.main-menu ul {
  padding: 0;
  margin: 0;
  line-height: 24px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 0;
  height: 980px;
}

.main-menu li {
  list-style-type: none;
  border-bottom: 1px solid #bbb;
}
