#root {
  height: 100%;
}

/*
 Designsystem fixes
 
 RadioButtonGroup
*/
.ms-ChoiceField-field {
  display: flex !important;
  margin-top: 0 !important;
}

label.ms-ChoiceField--icon span.ms-ChoiceFieldLabel {
  padding-left: 0 !important;
}
